In [23]:
input('아무거나')

'abcde'

In [25]:
var_x = input('아무거나')

In [7]:
var_x

'12345'

In [19]:
print('변수 x는',var_x,'입니다.',sep='=======')
print('변수 x는',var_x,'입니다.', end='\n')

변수 x는=======12345=======입니다.
변수 x는 12345 입니다.

In [30]:
print(f'abcde {var_x=}')

print (f'{type(var_x) =}')

abcde var_x='abcde'
type(var_x) =<class 'str'>

In [31]:
input('숫자를 입력하세요:')

'12345'

In [37]:
int('12345')

12345

In [ ]:
var_y=int(input('숫자를 입력하세요'))

In [42]:
print(10)
print(10, '경영학과', 3.14, True)
print(10, '경영학과', 3.14, True, sep='|')
print(10, '경영학과', 3.14, True, sep='|', end='\t************\n')

10
10 경영학과 3.14 True
10|경영학과|3.14|True
10|경영학과|3.14|True	************

In [44]:
print('이름: 조영주\n학번: c431229\n학과: 경영학과')

이름: 조영주
학번: c431229
학과: 경영학과

In [49]:
print('이름\t학번\t\t학과')
print('조영주\tc431229\t\t경영학과')
print('김강\t20210001\t경영학과')

이름	학번		학과
조영주	c431229		경영학과
김강	20210001	경영학과

In [51]:
var_y=54321
print(f'{var_y}', end='\n---------------------------\n')
      
print(f'{var_y = }', end='\n---------------------------\n')

print(f'var_y = {var_y}')

54321
---------------------------
var_y = 54321
---------------------------
var_y = 54321

In [59]:
print(f'var_y는 정수형이므로 d를 사용하여야 하고, {var_y:f}입니다.')
print(f'var_y를 총 20개의 자리에 표현하면, {var_y:20d}입니다.')
print(f'var_y를 총 20개의 자리에 왼쪽 정렬하여 표현하면, {var_y:<20d}입니다.')
print(f'var_y를 총 20개의 자리에 가운데 정렬하여여 표현하면, {var_y:^20d}입니다.')
print(f'var_y는 실수형이므로 f를 사용하여야 하고, {var_y:f}입니다.')

var_y는 정수형이므로 d를 사용하여야 하고, 54321.000000입니다.
var_y를 총 20개의 자리에 표현하면,                54321입니다.
var_y를 총 20개의 자리에 왼쪽 정렬하여 표현하면, 54321               입니다.
var_y를 총 20개의 자리에 가운데 정렬하여여 표현하면,        54321        입니다.
var_y는 실수형이므로 f를 사용하여야 하고, 54321.000000입니다.

In [61]:
a=[1,[2,3,4,],'abc',True]

In [63]:
a[1]

[2, 3, 4]

In [69]:
print(dir('123.45'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [71]:
x_str='abcde'

print(f'{x_str = }\n{type(x_str) = }')

x_str = 'abcde'
type(x_str) = <class 'str'>

In [77]:
x_value = 12345

x_list = [x_str, x_value]

print(f'{x_list = }\n{type(x_list) = }')

x_list = ['abcde', 12345]
type(x_list) = <class 'list'>

In [78]:
x_none = None
print('f{x_none = }\n{type(x_none) = }')

f{x_none = }
{type(x_none) = }

In [ ]:
x_list = ['abcde', 12345]
x_list[1]

12345

In [87]:
x_dict = {'name' : 'choyoungju', 'id':431229, 123: 'abc'}
x_dict[123]

'abc'

In [90]:
x_tuple = (x_str, x_value)
print(dir(x_list))
print()
print(dir(x_tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [95]:
x_value
print(f'{x_value.real = }')
print(f'{x_value.real.bit_length() = }')

x_value.real = 12345
x_value.real.bit_length() = 14

In [97]:
x_list = ['abcde', 12345]
print(f'Before: {x_list = }')

x_list[1] = 'fghij'

print(f'After : {x_list = }')

Before: x_list = ['abcde', 12345]
After : x_list = ['abcde', 'fghij']

In [102]:
try: 
    x_dict = {'name': 'chhoyoungju', 'id':12345}
except: 
    pass
print(f'Before: {x_dict = }')

x_dict['name'] = 'gildong hong'
print(f'After : {x_dict = }')

Before: x_dict = {'name': 'chhoyoungju', 'id': 12345}
After : x_dict = {'name': 'gildong hong', 'id': 12345}

In [105]:
x_str = 'abcde'
print(f'Before: {x_str = }')
try:
    x_str[1] = '2'
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_str = }')

Before: x_str = 'abcde'
Error : 'str' object does not support item assignment
After : x_str = 'abcde'

In [104]:
try:
    x_dict['name']
    kkkkkkkk = 11111
except:
    pass

In [ ]:
x_str = 'abcdeABCDE'
list(x_str)[4]='2'

x_str[P]

'abcdeABCDE'

In [2]:
(10)

10

In [7]:
x_dict = {'name' : 'cho youngju', 'id': 43122}

print(f'Before: {x_dict = }')

x_dict['name'] = 'cho youngju'

print(f'After : {x_dict = }')

Before: x_dict = {'name': 'cho youngju', 'id': 43122}
After : x_dict = {'name': 'cho youngju', 'id': 43122}

In [9]:
x_str = 'abcde'

print(f'Before: {x_str = }')

try:
    x_str[1] = '2'
except TypeError as e:
    print(f'Error : {e}')

print(f'After : {x_str = }')

Before: x_str = 'abcde'
Error : 'str' object does not support item assignment
After : x_str = 'abcde'

In [12]:
123 + 456

579

In [11]:
'Abc' + "Abc"

'AbcAbc'

In [14]:
[1,2,3] + [1,2,3]

[1, 2, 3, 1, 2, 3]

In [5]:
var_x = range(-10, 0, 2)
print(f'{var_x}sms {type(var_X)}', end='\n'+'-'*30+'\n')
var_y = list(var_x)

var_y = tuple(var_x)

var_y = set(var_x)

NameError: name 'var_X' is not defined

In [7]:
str('12345.0')

'12345.0'

In [14]:
a=3 ; b=4
a+b

7

In [19]:
for i in {5,4,3,2,1,2,3,4,5}:
    print(i)

1
2
3
4
5

In [20]:
range(0,10)

range(0, 10)

In [21]:
list(range(29,10,-3))

[29, 26, 23, 20, 17, 14, 11]

In [29]:
var_x = 10
var_y = 10.0
var_z = var_x

print(f'{(var_x is var_y) = }')
print(f'{(var_x is var_z) = }')
print(f'{(var_x is not var_y) = }')
print(f'{(var_x is not var_z) = }')

(var_x is var_y) = False
(var_x is var_z) = True
(var_x is not var_y) = True
(var_x is not var_z) = False

In [ ]:
var_x = "abcdab"

In [23]:
'123' + str([1,2,3,])

'123[1, 2, 3]'

In [25]:
print(f'{2/3 = :.4f}')

2/3 = 0.6667